[submodule "redbear-mem-benchmark"]
	path = redbear-mem-benchmark
	url = git@github.com:SuanmoSuanyangTechnology/redbear-mem-benchmark.git
[submodule "api/app/core/memory/evaluation"]
	path = api/app/core/memory/evaluation
	url = git@github.com:SuanmoSuanyangTechnology/redbear-mem-benchmark.git
