@import "tailwindcss" prefix(rb);
@plugin "@tailwindcss/typography";

@font-face {
  font-family: 'MiSans-Bold';
  src: url('@/assets/font/MiSans/MiSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MiSans-Demibold';
  src: url('@/assets/font/MiSans/MiSans-Demibold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MiSans-ExtraLight';
  src: url('@/assets/font/MiSans/MiSans-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'MiSans-Heavy';
  src: url('@/assets/font/MiSans/MiSans-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'MiSans-Light';
  src: url('@/assets/font/MiSans/MiSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'MiSans-Medium';
  src: url('@/assets/font/MiSans/MiSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MiSans-Normal';
  src: url('@/assets/font/MiSans/MiSans-Normal.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MiSans-Regular';
  src: url('@/assets/font/MiSans/MiSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'MiSans-Semibold';
  src: url('@/assets/font/MiSans/MiSans-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'MiSans-Thin';
  src: url('@/assets/font/MiSans/MiSans-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@theme {
  --color-gray-50: #FAFAFA;
  --color-gray-100: #F6F6F6;
  --color-gray-200: #EBEBEB;
  --color-gray-300: #E3E5E8;
  --color-gray-400: #DFE4ED;
  --color-gray-500: #A8A9AA;
  --color-gray-600: #5B6167;
  --color-gray-700: #D9D9D9;
  --color-gray-800: #212332;
  --color-gray-900: #171719;
  --color-gray-950: #000000;

  --color-slate-50: #F5F6F6;
  --color-slate-100: #EDF0F6;
  --color-slate-200: #F1F2F3;
  --color-slate-300: #4E5969;
  --color-slate-400: #B8BBC2;
  --color-slate-500: #CFD0D2;
  --color-slate-800: #222222;

  --color-primary: #171719;
  --color-primary-50: #F5F5F5;
  --color-primary-100: #EBEBEB;
  --color-primary-200: #D0D0D0;
  --color-primary-300: #B0B0B0;
  --color-primary-400: #909090;
  --color-primary-500: #404040;
  --color-primary-600: #171719;
  --color-primary-700: #101012;
  --color-primary-800: #0A0A0C;
  --color-primary-900: #050506;

  --color-red-50: #FFF2F0;
  --color-red-100: #FDCDC5;
  --color-red-300: #F53F3F;
  --color-red-400: #D94F2C;
  --color-red-500: #FF5D34;
  --color-red-600: #FFF5F3;
  --color-red-700: #FFCCC7;

  --color-pink-50: #FFF0F6;
  --color-pink-100: #FDC2DB;
  --color-pink-300: #CB1E83;

  --color-blue-50: #E8F3FF;
  --color-blue-100: #BEDAFF;
  --color-blue-200: #1677FF;
  --color-blue-300: #165DFF;
  --color-blue-400: #1B58F4;
  --color-blue-500: #155EEF;
  --color-blue-600: #91CEFF;
  --color-blue-700: #F1F6FE;

  --color-cyan-50: #E8FFFB;
  --color-cyan-100: #B7F4EC;
  --color-cyan-300: #0DA5AA;

  --color-green-50: #F2FFF3;
  --color-green-100: #DEF7EC;
  --color-green-200: #AFF0B5;
  --color-green-300: #F3FAF2;
  --color-green-400: #B7EB8F;
  --color-green-600: #369F21;
  --color-green-800: #03543F;
  --color-green-900: #009A29;

  --color-purple-50: #F9F2FF;
  --color-purple-100: #DDBEF6;
  --color-purple-300: #8D4EDA;

  --color-orange-50: #FFF2F0;
  --color-orange-100: #FFE4BA;
  --color-orange-200: #FFA940;
  --color-orange-300: #FF7D00;
  --color-orange-400: #FFF8F0;
  --color-orange-500: #FFDBAF;

  --shadow-xs: 0px 4px 6px 0px rgba(0, 0, 0, 0.06);
  --shadow-sm: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
  --shadow-md: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.10);
  --shadow-lg: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  --shadow-xl: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
  --shadow-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  --shadow-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);

  --font-sans: 'PingFangSC', 'PingFang SC', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}