.bg-top {
  width: 100%;
  height: 240px;
  background: linear-gradient(to bottom, rgba(229, 242, 254, 1), rgba(251, 253, 255, 1));
  opacity: 0.8;
}

.left1 {
  width: 748px;
  height: 354px;
  background: radial-gradient(circle, rgba(138, 239, 255, 1) 100%, rgba(232, 244, 255, 0.71) 100%);
  opacity: 0.24;
  filter: blur(50px);
  position: absolute;
  left: -374px;
  top: -187px;
}
.left2 {
  width: 558px;
  height: 504px;
  background: radial-gradient(circle, #155EEF 0%, rgba(232, 244, 255, 0) 100%);
  opacity: 0.22399999999999998;
  filter: blur(50px);
  position: absolute;
  left: -279px;
  top: -252px;
}
.right1 {
  width: 470px;
  height: 474px;
  background: radial-gradient(circle, rgba(21, 94, 239, 1) 0%, rgba(232, 244, 255, 0) 100%);
  opacity: 0.32;
  filter: blur(50px);
  position: absolute;
  right: -235px;
  top: -237px;
}